
body {
    background-image: url("../images/background.jpeg");
    color: red;
}

#content {
    background: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border: 5px double red;
    width: 60%;
    margin-top: 6%;
    margin-right: auto;
    margin-left: auto;
}

#heading {
    text-align: center;
    padding: 2%;
    font-size: 40px;
}

#instructions {
    text-align: center;
    font-size: 20px;
}

#middle-box {
    padding-left: 2%;
}

.gem {
    height: 100px;
    width: 100px;
}

#gem-red {
    float: left;
}

#gem-blue {
    float: left;
    margin-left: 75px;
}

#gem-yellow {
    float: left;
    margin-left: 75px;
}

#gem-green {
    float: left;
    margin-left: 75px;
}

.gem:hover {
    opacity: 0.5;
}

#bottom-box {
    clear: both;
    padding-left: 2%;
}

#gem-points {
    padding-bottom: 2%;
}
